<h1>Write a new post!</h1><br><br><br>
<form action="/posts/new" method="post">
<label for="post">Title:</label>
<input id="post" type="text" name="posts[title]">
<br><br>
<label for="body">Body:</label>
<br><br>
<textarea id="body" name="posts[body]" cols="100" rows="30"></textarea>
<br><br>
<label for="author">Author:</label>
<input id="author" type="text" name="posts[author]">
&nbsp
<label for="tags">Tags:</label>
<input id="tags" type="text" name="posts[tag]" value=""><br><br><br>
<input type="submit" value="SUBMIT!">
</form>
<br><br><br>
<a href="/">Back to home</a><br><br>
<a href="/posts">Back to all posts</a><br><br>
<a href="/tags">Back to all tags</a>